@{
    ViewBag.Title = "Home Page";
}

<img src="http://www.imgworlds.com/wp-content/uploads/2015/11/novocinema1.jpg" height="400" width="1900" />
<div class="container body-content">

    <div class="jumbotron">
        <h2>@ViewBag.Name</h2>
        <h1>@ViewBag.Message</h1>
        <h1>testing public value: @ViewData["publicV"]</h1>
        <div class="row">
            <div class="col-md-3">
                <h2>타이타닉</h2>

            </div>
            <div class="col-md-3">
                <h2>영화이름</h2>

            </div>
            <div class="col-md-3">
                <h2>영화이름</h2>

            </div>
            <div class="col-md-3">
                <h2>영화이름</h2>

            </div>
        </div>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <!-- 버튼을 이용한 값 전달-->
        <input type="button" value="testing button" onclick="location.href='@Url.Action("Contact", "Home",new { param="success" })'" />
    </div>

    
    

    
</div>